<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>TestServlet</servlet-name>
        <servlet-class>Servlets.TestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginLogoutServlet</servlet-name>
        <servlet-class>Servlets.LoginLogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KontaktServlet</servlet-name>
        <servlet-class>Servlets.KontaktServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BenutzerServlet</servlet-name>
        <servlet-class>Servlets.BenutzerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VertragServlet</servlet-name>
        <servlet-class>Servlets.VertragServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminServlet</servlet-name>
        <servlet-class>Servlets.AdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmationServlet</servlet-name>
        <servlet-class>Servlets.ConfirmationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TestServlet</servlet-name>
        <url-pattern>/TestServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginLogoutServlet</servlet-name>
        <url-pattern>/LoginLogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KontaktServlet</servlet-name>
        <url-pattern>/KontaktServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BenutzerServlet</servlet-name>
        <url-pattern>/BenutzerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VertragServlet</servlet-name>
        <url-pattern>/VertragServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/AdminServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DisplayChart</servlet-name>
        <servlet-class>org.jfree.chart.servlet.DisplayChart</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DisplayChart</servlet-name>
        <url-pattern>/servlet/DisplayChart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmationServlet</servlet-name>
        <url-pattern>/ConfirmationServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            1
        </session-timeout>
    </session-config>
</web-app>
