<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="VertragsverwaltungPU" transaction-type="RESOURCE_LOCAL">

    <class>Entitys.Benutzer</class>
    <class>Entitys.Kunde</class>
    <class>Entitys.Benutzer_Status</class>
    <class>Entitys.Benutzer_Recht</class>
    <class>Entitys.Vertrag</class>
    <class>Entitys.Vertrag_Status</class>
    <class>Entitys.Vertrag_Art</class>
    <class>Entitys.Stromvertrag</class>
    <class>Entitys.Festnetzvertrag</class>
    <class>Entitys.Gasvertrag</class>
    <class>Entitys.Handyvertrag</class>
    <class>Entitys.Zeitschriftvertrag</class>
    <class>Entitys.Interessengebiet</class>
    <class>Entitys.Netztyp</class>
    <class>Entitys.Zeit_Einheit</class>
    <class>Entitys.Adresse</class>
    <exclude-unlisted-classes>false</exclude-unlisted-classes>
    <properties>
      <property name="javax.persistence.jdbc.url" value="jdbc:derby://localhost:1527/DB_Vertragsverwaltung"/>
      <property name="javax.persistence.jdbc.user" value="root"/>
      <property name="javax.persistence.jdbc.driver" value="org.apache.derby.jdbc.ClientDriver"/>
      <property name="javax.persistence.jdbc.password" value="1234"/>
    </properties>
  </persistence-unit>
</persistence>